/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Body Styling */
body {
  color: #333;
  background-color: #f5f5dc;
}

/* Header Styling */
h2 {
  color: #6a0dad;
  font-size: 2.5rem;
  margin: 2rem 0;
  text-align: center;
}

/* Article Styling */
article {
  border: 2px solid #333;
  padding: 15px 25px;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}

/* Form Styling */
form {
  border: 2px solid #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

form > input,
form > select,
form > textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

form > button,
.delete-btn,
.edit-btn {
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #ffdead;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

form > button:hover {
  background-color: #f0e68c;
}

/* Reaction Button Styling */
.reactionButton {
  margin: 0 0.5em 0 0;
  background: transparent;
  border: none;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.reactionButton:hover {
  color: #6a0dad;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  position: sticky;
  top: 0;
  width: 100%;
  color: #f0e68c;
}

a {
  color: #f5f5dc;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul > li {
  padding: 1rem;
}

.postList {
  display: flex;
  align-items: center;
  flex-direction: column;
}
